.containerTopInfo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 20px 0;
}

@media screen and (max-width: 780px) {
    .containerTopInfo {
        flex-direction: column;
        justify-content: space-between;
    }
}

.containerTitle {
    display: flex;
    flex-direction: column;
    width: 100%;

}

@media screen and (max-width: 780px) {
    .containerTopInfo {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }
}

.containerTitle h2 {
    color: #ff6060;
    font-weight: 500;
    font-size: 38px;
}

@media screen and (max-width: 780px) {
    .containerTitle h2 {
        font-size: 1.5rem;
    }
}

.containerTitle p {
    color: black;
    font-weight: 400;
    font-size: 18px;
    padding-top: 10px;
}

@media screen and (max-width: 780px) {
    .hostStars {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        padding: 0 20px;
    }
}

.containerDropdown {
    display: flex;
    margin-left: -10px;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    min-height: 50px
}

@media screen and (max-width: 780px) {

    .containerDropdown {
        flex-direction: column;

    }

}