.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    margin-top: -50px;
}

h1 {
    font-family: 'Bahnschrift';
    font-size: 18em;
    color: #ff6060;
    margin: 0;
}


.bottom-container {
    text-align: center;
}

.text {
    font-size: 30px;
    color: #ff6060;
    margin-bottom: 80px;
}

.link {
    text-decoration: underline;
    color: black;
    font-size: 20px;
}

@media only screen and (max-width : 780px) {
    h1 {
        font-size: 12em;
    }

    .text {
        width: 100%;
    }
}