.logement-details {
    font-family: Arial, sans-serif;
    margin: auto;
    max-width: 1200px;
    padding: 20px;

}

.image-carousel {
    position: relative;
    width: 80%;
    height: 80%;
    overflow: hidden;
}

.image-carousel img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.image-index {
    position: absolute;
    /* Positionner l'index correctement */
    bottom: 10px;
    /* Ajustez selon vos besoins */
    left: 50%;
    transform: translateX(-50%);
    /* Centrer horizontalement */
    color: white;
    /* Couleur du texte */
    font-size: 1.2em;
    /* Taille du texte */
    background: rgba(0, 0, 0, 0.5);
    /* Fond semi-transparent */
    padding: 5px;
    /* Espacement autour du texte */
    border-radius: 5px;
    /* Coins arrondis */
}

.logement-title {
    font-size: 2rem;
    margin: 20px 0 10px 0;
    text-align: center;
}

.location {
    font-size: 1.2rem;
    color: #555;
    text-align: left;
    margin-bottom: 20px;
}

.description-equipements {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: #ff6060;
    padding: 20px;
    color: white;
    border-radius: 8px;
}

.description-equipements>div {
    flex: 1;
    margin: 0 10px;
}

.dropdown-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.dropdown-description {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}