.Footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: none;
}

.Footer .logo {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}