header {
    text-align: right;
}


ul {
    list-style: none;
    padding: 0px;
}

ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: underline;
    color: black;

}