.Card {
    position: relative;
    width: 100%;
    padding-top: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.Card img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.Card h2 {
    position: absolute;
    left: 10px;
    width: 50%;
    bottom: 10px;
    color: #eee;
    font-size: 18px;
    font-weight: 500;
}

.Card-Sombre {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    background: linear-gradient(180deg, #ffffff00 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
}

.Card:hover {
    cursor: pointer;
}